* {
    font-family: Helvetica, sans-serif;
    text-align: center;
    background: #f1faee;
    color: #1d3557;
    list-style-position: left;
}

img {
    height: auto;
    width: 400px
}

button {
    background-color: #e63946;
    color: #f1faee;
    font-size: large;
    font-weight: bold;
}

li